.Footer {
  bottom: 5%;
  position: fixed;
  margin-top: 10px;
  text-align: center;
}

.Footer-links a {
  color: #7289da;
  text-decoration: none;
}

.Footer-links a:hover {
  text-decoration: underline;
}